.dt-tables-container {
    .dt-container {
        .dt-layout-row {
            margin: 0 !important;
    
            .top-row {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                padding: .5rem 1rem;
                font-size: 11pt;
                box-shadow: inset 0px -2px 2px #e4e4e4 !important;
    
                .dt-length {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                }

                .dt-buttons {
                    display: flex;
                    gap: 0.3rem;
                    align-items: center;
                    justify-content: start;
                    margin-right: 1rem;

                    button {
                        white-space: nowrap;
                    }
                }

                .dt-tables-search {
                    display: flex;

                    @media (max-width: 640px) {
                        display: none;
                    }
                }
            }
    
            .bottom-row {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                padding: .5rem 1rem;
                font-size: 11pt;
                box-shadow: 0 -2px 1px #e4e4e4;

                * {
                    white-space: nowrap;
                }

                .dt-info {
                    @media (max-width: 640px) {
                        display: none;
                    }
                }
            }
        }
    
        .dt-button-collection {
            button {
                background-color: initial !important;
            }
        }
    
        table {
            td,th {
                white-space: nowrap;
                vertical-align: middle !important;
            }

            tbody > tr:last-child>* {
                border-bottom: none !important;
            }
    
            & > thead {
                & > tr > th {
                    padding: 5px !important;
                    color: #6c757d;
                    font-size: 10.5pt;
                }

                & > tr:not(.selection-row) > th {
                    padding-top: 10px !important;
                    padding-bottom: 8px !important;
                }
            }
                
    
            & > tbody > tr> td {
                color: #202021;
                font-size: 11pt;            
            }
    
            .row-index {
                font-weight: bold;
                text-align: center;
            }
    
            .button-container {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                gap: .25rem;
            }
        }
    }
}

.dt-tables-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding: 2rem;
    height: 30rem;

    .loader-image {
        height: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .loader-text {
        text-align: center;
        color: #989898;
        font-weight: 500;
        font-size: 1rem;
    }
}
